mixin sPayment(data)
	// start sPayment
	+b.SECTION.sPayment.section#sPayment&attributes(attributes)
		.container
			+b.section-title
				h1 Оплата
			+e.txt-content
				ol
					li Выберите интересующий Вас Пакет услуг и количество на главной странице и нажмите кнопку «выбрать»
					li Выберите способ оплаты
					li При оплате картой введите информацию, необходимую для проведения оплаты и нажмите кнопку «оплатить»
					li Подтвердите оплату
					li Ожидайте от Почты России приобретённый Пакет услуг
				+e.important ВАЖНО: Клиент имеет право отказаться от оплаченного Пакета услуг в течение 14 (четырнадцати) календарных дней с момента его оплаты!!!
				+e.important--green В случае не направления Заявления в установленные сроки или с нарушением сроков, сервис считается оказанным в полном объеме, а денежные средства возврату не подлежат.
				h6 ДЛЯ ОТКАЗА ОТ ПАКЕТА УСЛУГ ВАМ НЕОБХОДИМО:
				ol
					li Cкачать Заявление, пройдя по ссылке «Заявление на возврат Пакета услуг»
					li Заполнить Заявление на бумажном носителе, проставив дату заполнения и личную подпись
					li Заявление необходимо направить в адрес компании КЛИКТУАЙДИ (117587, г. Москва, Днепропетровская ул., д. 2, оф. 502) почтой России/курьерской службой, заказным письмом с уведомлением или привезти лично
					li В течение 10 (десять) календарных дней с момента получения соответствующего Заявления, компания КЛИКТУАЙДИ произведет возврат денежных средств Клиенту.
				p Отказ Клиента от оплаченного Пакета услуг не предполагает возврат Клиентом Пакета в компанию
				p Обращаем Ваше внимание, что компания CLICKTOID не несет ответственности за неверно указанные Клиентом реквизиты, для перечисления денежных средств.
			.text-center
				+e.download(href="#")
					+icon('download')
					span Скачать «Заявление на возврат Пакета услуг»
	// end sPayment