mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 О компании
			+e.row.row
				.col-md-auto
					+e.img(href="#")
						img(loading="lazy" src="img/@2x/sAbout.png" alt="")
				.col-md
					+e.txt
						p
							b Компания КликТуАйДи предоставляет инновационный сервис на рынке поддержки клиентов в случаях, когда потерялись ваши личные вещи, близкие люди или питомцы.
						p Качественный сервис, профессиональный и высокий уровень обслуживания клиентов позволили заработать лояльность по всему миру.
						p Благодаря предварительной маркировке личных вещей специальными метками (брелоками, наклейками, браслетами, кулонами, багажными бирками) с уникальным идентификационным (ID) номером
						a(href="#") Узнать больше о компании...
	// end sAbout