extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sService/_sService.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sLast/_sLast.pug
include ../blocks/sReturned/_sReturned.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCompany/_sCompany.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='01.png'

block title
	- let  title= '01-about'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+b.page-head
		.container
			+breadcrumb('Главная', 'О компании')
	+sCompany()
	+footer()