mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center.justify-content-center
				.col-auto
					+e.logo(href="/")
						//-img(loading="lazy" src="img/@2x/logo.png" alt="")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto
					+e.logo(href="/")
						img(loading="lazy" src="img/svg/logo2.svg" alt="")
					
	// end top-nav