mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h1 Вопросы и ответы
				p
					| Здесь Вы найдете ответы на самые часто задаваемые вопросы, если Вы не нашли ответы на свои вопросы, позвоните в службу поддержки:
					|
					a(href="tel:88004444308") 8 800 444 43 08
			+e.dd-items.dd-group-js
				+sFAQItem('Как работает услуга?', 'active')
				+sFAQItem('Как пользоваться услугой?')
				+sFAQItem('Я нашел потерянную вещь, человека или питомца')
				+sFAQItem('Я потерял человека, питомца, вещь')
				+sFAQItem('Если ID номер метки не читается')
				+sFAQItem('Можно ли купить ваш сервис в подарок?')
			.row
	// end sFAQ

mixin sFAQItem(title, activeClasses='')
	+e.dd-item(class=activeClasses)
		+e.dd-head.dd-head-js
			+e.h-row.row.align-items-center
				+e.col--title.col-auto=title
				+e.col--line.col.d-none.d-lg-block
					+e.line
				+e.col--chevron.col-auto.ms-auto
					+e.icon
						+icon('chevron-down')
		+e.dd-content.dd-content-js(class=activeClasses)
			p Принцип работы услуги основан на присвоении уникальных идентификационных номеров объектам охраны (ключам, телефонам, паспортам, багажу, животным, людям и т.д.).
			p Наши брелоки, наклейки, багажные бирки, браслеты и другая продукция (метки) содержат уникальные идентификационные номера. Если Вы теряете вещь с такой меткой, а кто-то её находит, то Нашедший звонит на номер бесплатной круглосуточной службы поддержки (этот номер тоже указан на всех брелоках, наклейках и т.д.), называет уникальный номер, и специалисты компании CLICKTOID по этому номеру определяют владельца, сообщают Вам о находке и доставляют утерянную вещь по указанному Вами адресу.