mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h1 Вопросы и ответы
				p
					| Здесь вы найдете ответы на самые часто задаваемые вопросы, если вы не нашли ответы на свои вопросы, позвоните в службу поддержки:
					|
					a(href="tel:88004444308") 8 800 444 43 08
			+e.dd-items.dd-group-js
				+sFAQItem('Как работает услуга?', 'active')
					p Принцип работы услуги основан на присвоении уникальных ID номеров объектам охраны (ключам, телефонам, паспортам, багажу, животным, людям и т.д.).
					p Наши брелоки, наклейки, багажные бирки, браслеты и другая продукция (метки) содержат уникальные идентификационные номера. Если вы теряете вещь с такой меткой, а кто-то её находит, то Нашедший звонит на номер бесплатной круглосуточной службы поддержки (этот номер тоже указан на всех брелоках, наклейках и т.д.), называет уникальный номер, и специалисты компании CLICKTOID по этому номеру определяют владельца, сообщают Вам о находке и доставляют утерянную вещь по указанному Вами адресу.
				+sFAQItem('Как пользоваться услугой?')
					p Приобретенные метки с идентификационным номером необходимо прикрепить на личные вещи. В случае утери вещи с такой меткой, вы сообщаете об этом в нашу службу поддержки.
					p После звонка Нашедшего в контакт-центр, специалист CLICKTOID связывается с Владельцем найденной вещи и организовывает возврат находки Владельцу курьером.
					p За возврат найденной вещи CLICKTOID вручает Нашедшему подарок, если он предусмотрен.
				+sFAQItem('АКТИВАЦИЯ ПАКЕТА УСЛУГ:')
					p Ваш пакет услуг уже активирован, не&nbsp;забудьте разместить свои метки
				//- +sFAQItem('СМЕНА ДЕРЖАТЕЛЯ ПАКЕТА УСЛУГ')
				//- 	p: strong ВАЖНО: ВЫ МОЖЕТЕ ПРИОБРЕСТИ ПАКЕТ УСЛУГ В ПОДАРОК.
				//- 	p: strong ДЛЯ СМЕНЫ ДЕРЖАТЕЛЯ ПАКЕТА УСЛУГ ВАМ НЕОБХОДИМО:
				//- 	ol
				//- 		li
				//- 			|Пройти по ссылке
				//- 			|
				//- 			a(href='#') «СМЕНА ДЕРЖАТЕЛЯ»
				//- 		li Заполнить все обязательные поля, для проверки текущего держателя метки (поля, помеченные обозначением (*))
				//- 		li При положительном результате проверки - заполнить все обязательные поля (поля, помеченные обозначением (*)) с информацией о новом держателе метки
				//- 		li Ознакомиться с условиями Соглашения и принять его условия, проставив галочку
				//- 		li Подтвердить, что вы не робот
				//- 		li Пройти по активной ссылке «ПОДТВЕРДИТЬ»
				//- 	p: strong ПОЗДРАВЛЯЕМ, ВЫ ПОЛУЧИЛИ АКТИВНЫЙ СЕРВИС (24/7/365) ПО ПОДДЕРЖКЕ КЛИЕНТОВ В ЭКСТРЕННЫХ СЛУЧАЯХ, КОГДА ПОТЕРЯЛИСЬ ВАШИ БЛИЗКИЕ ЛЮДИ, ПИТОМЦЫ, А ТАКЖЕ ЛИЧНЫЕ ВЕЩИ!
				//- 	p: strong СЕРВИС ДОСТУПЕН!
				//- +sFAQItem('ПРОДЛЕНИЕ СРОКА ДЕЙСТВИЯ ПАКЕТА УСЛУГ')
				//- 	p: strong ВАЖНО: ПРОИЗВЕСТИ ОПЛАТУ ПАКЕТА УСЛУГ НЕ МЕНЕЕ, ЧЕМ ЗА 5 (ПЯТЬ) КАЛЕНДАРНЫХ ДНЕЙ ДО ДАТЫ ОКОНЧАНИЯ СРОКА ДЕЙСТВИЯ ТЕКУЩЕГО СОГЛАШЕНИЯ
				//- 	p: strong ДЛЯ ПРОДЛЕНИЯ СРОКА ДЕЙСТВИЯ УСЛУГИ ВАМ НЕОБХОДИМО:
				//- 	ol
				//- 		li
				//- 			|Пройти по ссылке
				//- 			|
				//- 			a(href="#") «ПРОДЛЕНИЕ»
				//- 		li Заполнить все обязательные поля (поля, помеченные обозначением (*))
				//- 		li Подтвердить, что вы не робот
				//- 		li Пройти по активной ссылке «ОТПРАВИТЬ ИНФОРМАЦИЮ»
				//- 		li С Вами свяжется служба поддержки клиентов CLICKTOID, для уточнения информации по заявке
				//- 		li Получить счет на оплату, направленный Вам на адрес электронной почты, и оплатить его
				//- 	p: strong ПОЗДРАВЛЯЕМ, ВЫ ПОЛУЧИЛИ АКТИВНЫЙ СЕРВИС (24/7/365) ПО ПОДДЕРЖКЕ КЛИЕНТОВ В ЭКСТРЕННЫХ СЛУЧАЯХ, КОГДА ПОТЕРЯЛИСЬ ВАШИ БЛИЗКИЕ ЛЮДИ, ПИТОМЦЫ, А ТАКЖЕ ЛИЧНЫЕ ВЕЩИ!
				//- 	p: strong СЕРВИС ДОСТУПЕН!
				//- +sFAQItem('КАК КУПИТЬ ПАКЕТ УСЛУГ')
				//- 	p: strong ДЛЯ ПОКУПКИ ПАКЕТА УСЛУГ ВАМ НЕОБХОДИМО:
				//- 	ol
				//- 		li Пройти по ссылке «ПРОДУКТЫ»
				//- 		li Выбрать интересующий Вас пакет услуг и пройти по ссылке «КУПИТЬ»
				//- 		li Пройти по активной ссылке «ОФОРМИТЬ ЗАКАЗ»
				//- 		li Заполнить все обязательные поля (поля, помеченные обозначением (*))
				//- 		li Выбрать способ доставки и пройти по активной ссылке «СДЕЛАТЬ ЗАКАЗ»
				//- 		li Произвести оплату и получить онлайн чек, направленный Вам на адрес электронной почты
				//- 		li Служба поддержки клиентов свяжется с Вами, для уточнения места, времени и даты доставки оплаченного Вами пакета услуг
				//- 	p: strong ПОЗДРАВЛЯЕМ, ВЫ ПОЛУЧИЛИ АКТИВНЫЙ СЕРВИС (24/7/365) ПО ПОДДЕРЖКЕ КЛИЕНТОВ В ЭКСТРЕННЫХ СЛУЧАЯХ, КОГДА ПОТЕРЯЛИСЬ ВАШИ БЛИЗКИЕ ЛЮДИ, ПИТОМЦЫ, А ТАКЖЕ ЛИЧНЫЕ ВЕЩИ!
				//- 	p: strong СЕРВИС ДОСТУПЕН!
				//- 	p: strong ВАЖНО: ВАМ НЕОБХОДИМО АКТИВИРОВАТЬ ID НОМЕРА МЕТОК В ТЕЧЕНИЕ 5 ДНЕЙ С МОМЕНТА ОПЛАТЫ ПАКЕТА УСЛУГ!
				//- 	p: strong
				//- 		| ПРОЙДИТЕ ПО ССЫЛКЕ
				//- 		|
				//- 		a(href="#") «АКТИВАЦИЯ»
				+sFAQItem('Я НАШЕЛ ПОТЕРЯННУЮ ВЕЩЬ, ЧЕЛОВЕКА ИЛИ ПИТОМЦА')
					p: strong ВАЖНО: СЛУЖБА ПОДДЕРЖКИ КЛИЕНТОВ РАБОТАЕТ КРУГЛОСУТОЧНО ПО НОМЕРУ:
					p: strong 8 800 444-43-08 ДЛЯ ЗВОНКОВ ПО РОССИИ
					p: strong
						a(href="tel:+74996854308") +7 499 685-43-08
						|
						| ДЛЯ ЗВОНКОВ ИЗ-ЗА ГРАНИЦЫ
					p: strong В случае находки, Вам необходимо:
					p: strong ВАРИАНТ 1
					ol
						li Позвонить по указанным на метке номерам телефонов в службу поддержки клиентов
						li Сообщить полную информацию о находке (что или кто найден, место, где находитесь, ID номер метки, для идентификации Клиента сервиса)
						li Сообщить свои контактные данные и подтвердить свое согласие на обратный звонок от Владельца находки или от курьерской службы, которая заберет у Вас находку и передаст ее Владельцу
						li Передать Владельцу или курьерской службе находку
						li После завершения всех организационных вопросов, с Вами свяжется наша службы поддержки
					//- p: strong ВАРИАНТ 2
					//- ol
					//- 	li
					//- 		|Пройти по ссылке
					//- 		|
					//- 		a(href="#") «Сообщить о находке»
					//- 	li Заполнить все обязательные поля (поля, помеченные обозначением (*)) и, по возможности, прикрепить фото находки
					//- 	li Пройти по активной ссылке «ОТПРАВИТЬ СООБЩЕНИЕ»
					//- 	li С Вами свяжется служба поддержки клиентов CLICKTOID, для уточнения информации о находке
					//- 	li Подтвердить Ваши контактные данные и согласие на обратный звонок от Владельца находки или от курьерской службы, которая заберет у Вас находку и передаст ее Владельцу
					//- 	li Передать Владельцу или курьерской службе находку
					//- 	li После завершения всех организационных вопросов, с Вами свяжется наша службы поддержки
					p: strong ВАЖНО: ЕСЛИ ВЫ НАШЛИ ПОТЕРЯВШЕГОСЯ ЧЕЛОВЕКА (ВЗРОСЛОГО ИЛИ РЕБЕНКА) ИЛИ ПИТОМЦА, ОБЯЗАТЕЛЬНО ДОЖДИТЕСЬ РОДИТЕЛЕЙ РЕБЕНКА, БЛИЗКИХ ЛЮДЕЙ, ВЛАДЕЛЬЦА ПИТОМЦА И ПЕРЕДАЙТЕ ИХ ИЗ РУК В РУКИ
				//- +sFAQItem('Я ПОТЕРЯЛ ЧЕЛОВЕКА, ПИТОМЦА ИЛИ ВЕЩЬ')
				//- 	p: strong ВАЖНО: СЛУЖБА ПОДДЕРЖКИ КЛИЕНТОВ РАБОТАЕТ КРУГЛОСУТОЧНО ПО НОМЕРУ:
				//- 	p: strong 8 800 444-43-08 ДЛЯ ЗВОНКОВ ПО РОССИИ
				//- 	p: strong
				//- 		a(href="tel:+74996854308") +7 499 685-43-08
				//- 		|
				//- 		| ДЛЯ ЗВОНКОВ ИЗ-ЗА ГРАНИЦЫ
				//- 	p: strong В СЛУЧАЕ ПОТЕРИ ВАМ НЕОБХОДИМО:
				//- 	ol
				//- 		li Позвонить по номеру телефона в службу поддержки клиентов (на горячую линию)
				//- 		li Сообщить полную информацию о потерянной вещи, человеке/питомце и Ваши контактные данные, для идентификации Вас как Клиента сервиса
				//- 		li Подтвердить свое согласие на обратный звонок от курьерской службы, которая заберет у Нашедшего находку (кроме питомцев и людей) и доставит находку Вам
				//- 		li Ожидать звонка о находке
				//- 		li После завершения всех организационных вопросов, с Вами свяжется наша службы поддержки
				//- 	p: strong ВЕРОЯТНОСТЬ ВОЗВРАТА ВЕЩИ ЗНАЧИТЕЛЬНО ВЫШЕ, ПРИ НАЛИЧИИ КОНТАКТНОГО НОМЕРА ДЛЯ СВЯЗИ И ИНФОРМАЦИИ О ВОЗНАГРАЖДЕНИИ
				+sFAQItem('ПОШАГОВАЯ ИНСТРУКЦИЯ О ПОРЯДКЕ ОТКАЗА ОТ ПАКЕТА УСЛУГ:')
					p: strong Обращаем Ваше внимание, что Клиент имеет право отказаться от оплаченного Пакета услуг в течение 14 (четырнадцать) календарных дней с момента его оплаты. В случае не направления Заявления в установленные сроки или с нарушением сроков, сервис считается оказанным в полном объеме, а денежные средства возврату не подлежат.
					p: strong ДЛЯ ОТКАЗА ОТ ПАКЕТА УСЛУГ ВАМ НЕОБХОДИМО:
					ol
						li Выбрать в меню раздел «ОПЛАТА»
						li Пройти по ссылке «Отказаться от сервиса»
						li Cкачать Заявление, пройдя по ссылке «Заявление на возврат Пакета услуг»
						li Заполнить Заявление на бумажном носителе, проставив дату заполнения и личную подпись
						li Заявление необходимо направить в адрес компании CLICKTOID (117587, г. Москва, Днепропетровская ул., д. 2, оф. 502) почтой России/курьерской службой, заказным письмом с уведомлением или привезти лично
						li В течение 10 (десять) календарных дней с момента получения соответствующего Заявления, компания CLICKTOID произведет возврат денежных средств Клиенту
						li Отказ Клиента от оплаченного Пакета услуг не предполагает возврат Клиентом Пакета в компанию
				+sFAQItem('ЕСЛИ ID НОМЕР МЕТКИ НЕ ЧИТАЕТСЯ')
					p: strong В СЛУЧАЕ, ЕСЛИ ВАША МЕТКА ПОТЕРЯЛАСЬ ИЛИ ПРИШЛА В НЕГОДНОСТЬ (НЕ ЧИТАЕТСЯ ID НОМЕР), ИЛИ ОКАЗАЛАСЬ БРАКОВАННОЙ, ПОЗВОНИТЕ В НАШУ СЛУЖБУ ПОДДЕРЖКИ ПО НОМЕРУ:
					p: strong 8 800 444-43-08 ДЛЯ ЗВОНКОВ ПО РОССИИ
					p: strong
						a(href="tel:+74996854308") +7 499 685-43-08
						|
						| ДЛЯ ЗВОНКОВ ИЗ-ЗА ГРАНИЦЫ
					p: strong МЫ ЗАБЛОКИРУЕМ ИСПОРЧЕННУЮ МЕТКУ И ВЫДАДИМ ВАМ НОВУЮ!
				//- +sFAQItem('МОЖНО ЛИ КУПИТЬ ВАШ СЕРВИС В ПОДАРОК?')
				//- 	p: strong Да, конечно. вы можете купить несколько наборов, если это необходимо.
				//- 	p: strong
				//- 		| После того, как вы подарили Пакет услуг, необходимо произвести смену держателя услуги через сайт
				//- 		|
				//- 		a(href="https://clicktoid.ru/" target="_blank") https://clicktoid.ru/
				//- 		|
				//- 		| или контакт-центр по номеру:
				//- 	p: strong 8 800 444-43-08 ДЛЯ ЗВОНКОВ ПО РОССИИ
				//- 	p: strong
				//- 		a(href="tel:+74996854308") +7 499 685-43-08
				//- 		|
				//- 		| ДЛЯ ЗВОНКОВ ИЗ-ЗА ГРАНИЦЫ
				//- 	p: strong ВАЖНО: СМЕНИТЬ ДЕРЖАТЕЛЯ УСЛУГИ МОЖНО ТОЛЬКО ОДИН РАЗ В ТЕЧЕНИЕ СРОКА ДЕЙСТВИЯ УСЛУГИ!
				//-+sFAQItem('')
			.row
	// end sFAQ

mixin sFAQItem(title, activeClasses='')
	+e.dd-item(class=activeClasses)
		+e.dd-head.dd-head-js
			+e.h-row.row.align-items-center
				+e.col--title.col-auto=title
				+e.col--line.col.d-none.d-lg-block
					+e.line
				+e.col--chevron.col-auto.ms-auto
					+e.icon
						+icon('chevron-down')
		+e.dd-content.dd-content-js(class=activeClasses)
			if block
				block
			else
				p Принцип работы услуги основан на присвоении уникальных идентификационных номеров объектам охраны (ключам, телефонам, паспортам, багажу, животным, людям и т.д.).
				p Наши брелоки, наклейки, багажные бирки, браслеты и другая продукция (метки) содержат уникальные идентификационные номера. Если вы теряете вещь с такой меткой, а кто-то её находит, то Нашедший звонит на номер бесплатной круглосуточной службы поддержки (этот номер тоже указан на всех брелоках, наклейках и т.д.), называет уникальный номер, и специалисты компании CLICKTOID по этому номеру определяют владельца, сообщают Вам о находке и доставляют утерянную вещь по указанному Вами адресу.