mixin sConfirm(data)
	// start sConfirm
	+b.SECTION.sConfirm.section#sConfirm&attributes(attributes)
		.container
			+b.section-title
				h1 Подтверждение покупки
				p
					b Уважаемый пользователь, поздравляем с покупкой!
			+e.txt-content
				p Благодаря предварительной маркировке личных вещей специальными метками (брелоками, наклейками, браслетами, кулонами, багажными бирками) с уникальным идентификационным (ID) номером, а также уникальным разработкам в области мобильных приложений по защите личных вещей, КЛИКТУАЙДИ эффективно помогает вернуть владельцу потерянные вещи из любой точки мира.
				+e.you-buy вы приобрели:
				//-
				+g.sService
					+sServiceConfirm({
						imgNum: 1,
						green: '',
						iconName: 'arrow-right',
						BigBtnClasses: 'swiper-next',
						descr: 'С Пакетом услуг «Найди меня» вы избежите проблем, в случае потери паспорта, водительского удостоверения, багажа или ключей.',
						list: [
							'сет из двух наклеек',
							'брелок для ключей',
							'бирку на багаж',
						],
						inpVal: '4',
						price: '10 000',
						pricePerMonth: '2 500 ₽ за единицу',
					})
					+sServiceConfirm({
						imgNum: 2,
						green: 'PRO',
						descr: 'С Пакетом услуг «Найди меня  PRO» вы избежите проблем, в случае утери документов, гаджетов, багажа или ключей, а также близких людей и питомцев, если они потерялись.',
						iconName: 'arrow-left',
						BigBtnClasses: 'swiper-prev',
						list: [
							'сет из двух наклеек',
							'брелок для ключей',
							'бирку на багаж',
							'браслет для детей',
							'личную карту для пожилых людей',
							'кулон для животного',
						],
						inpVal: '1',
						price: '4 500',
						pricePerMonth: '4 500 ₽ за единицу',
					})
				+e.amount
					b Количество:
					span 4 комплекта
				//- p На почту вам отправлен сертификат, который необходимо предъявить на любой кассе Аэроэкспресс.
			.text-center
				+e.buy-another(href="#")
					span Приобрести другие комплекты
					+icon('arrow_right-2')
	// end sConfirm

mixin sServiceConfirm(data)
	+e.item
		+e.row--top.row
			+e.col--left.col-md.no-after
				+pic(`sService-img-${data.imgNum}.png`, undefined, 0)(class="sService__img")
				//-+e.img
					img(loading="lazy" src=`img/@2x/sService-img-${data.imgNum}.png` alt="")
				+e.content
					+e.title
						| Найди меня
						|
						if data.green
							span=data.green
					+e.gray Пакет услуг на 1 год
					+e.descr=data.descr
					+e.include Включает в себя:
					+e.UL.list
						-for(let item of data.list)
							li=item
			+e.col--right.col-md-auto
				+pic('sService-bg.png')(class="sService__bg")