mixin sRecive(data)
	// start sRecive
	+b.SECTION.sRecive.section#sRecive&attributes(attributes)
		.container
			+b.section-title
				h1 Получение
				p Приобретенный Пакет услуг Вам доставит Почта России по адресу, указанному при оформлении Пакета.
				p
					| Пакет услуг
					|
					b уже активирован и готов к использованию.
					|
					| Не забудьте прикрепить наклейку на документы, телефон  или портативную цифровую технику, бирку повесить на багаж (чемодан, сумку, рюкзак), брелок - на ключи, браслет надеть на запястье ребенку, кулон прикрепить на ошейник животного, а личную карту положить в карман пожилому человеку.
				p
					b С КЛИКТУАЙДИ Ваши личные вещи, питомцы и близкие люди не потеряются!
	// end sRecive