// start .sRecive
.sRecive {
	padding-top: 0;
	--sTPB: 0px;

	--sPB: 64px;
	@include media-breakpoint-up(md) {
		--sPB: #{rem(90)};
	}
	@include media-breakpoint-up(xl){
		--sPB: #{rem(155)};
	}

	.section-title{
		h1, h2{
			margin-bottom: 24px;
			@include media-breakpoint-up(sm){
				margin-bottom: rem(35);
			}
			@include media-breakpoint-up(xl){
				margin-bottom: rem(64);
			}
		}
		p{
			margin-bottom: 27px;
			@include media-breakpoint-up(sm){
				margin-bottom: 24px;
			}
			@include media-breakpoint-up(xl){
				line-height: 1.42;
			}

			&:last-child{
				font-family: $mono;
				font-weight: bold;

				font-size: 14px;
				line-height: calc(16/14);
				@include media-breakpoint-up(sm){
					font-size: rem(20);
					line-height: calc(26/20);
				}
			}
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sRecive